Revoke leave request - auto approved
=====
<p>Hello {{#with approver }}{{this.full_name}}{{/with}},</p>

<p>This is just to inform you that <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong> has <strong> revoked</strong> his/her leave request <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

<p>No action is required.</p>

<p>Thanks</p>
