Leave request auto approved
=====
<p>Hello <strong>{{#with approver }}{{this.full_name}}{{/with}}</strong>,</p>

<p>This is just to inform you that the leave request from <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong> has been automatically approved. <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

<p>No action is needed.</p>

<p>Thanks</p>
