Leave request cancelled
=====
<p>Hello {{#with approver }}{{this.full_name}}{{/with}},</p>

<p>This is just to inform you that <strong>{{#with requester}}{{this.full_name}}{{/with}} cancelled</strong> their leave request <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

<p>No action is needed.</p>

<p>Thanks</p>
