Leave request pending
=====
<p>Hello <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong>,</p>

{{> email/leave_comments comments=comments }}

<p>Your leave request <strong>{{>leave_request_detail leave=leave }} cancellation</strong> has been sent to <strong>{{#with approver }}{{this.full_name}}{{/with}}</strong>.</p>

<p>There will be another email once it has been processed.</p>

<p>If there are attachments required, you will need to upload the attachment before it will be processed.</p>

<p>Thanks</p>
