
{{> header }}

<h1>{{logged_user.name}} {{logged_user.lastname}} Requests</h1>

{{> show_flash_messages }}

<div class="row main-row_header">
  <p class="col-md-12">My Leaves</p>
</div>

{{> user_requests_grouped grouped_leaves=my_leaves_grouped logged_user=logged_user }}

{{>footer}}
