<p>
  Stats : {{#with requester}}{{this.nickname}}{{/with}} - {{~#with requesterAllowance}} {{this.number_of_days_taken_from_allowance}}{{/with~}}/{{#with requesterAllowance}}{{this.number_of_days_available_in_allowance}}{{/with}} of AL entitlement.
</p>
